@media (max-width: 890px) {
    .logIn-content__twoItems {
        width: initial;
        flex-direction: column;
    }

    .logIn-content__checkboxAndLabel {
        justify-content: center;
    }
}

@media (max-width: 680px) {
    .logIn-content__form {
        width: initial;
    }

    .logIn-content__input {
        width: initial;
    }
}

@media (max-width: 300px) {
    .logIn-content__underLine {
        width: 100%;
    }
}