@media (max-width: 820px) {
    .personalInfo__btns {
        width: 100%;
        flex-direction: column;
        justify-content: initial;
    }

    .personalInfo__button {
        width: 100%;
    }

    .personalInfo__button:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .personalInfo__form {
        width: initial;
    }

    .inputStyle {
        width: 2rem !important;
        height: 2rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 560px) {
    .inputStyle {
        width: 1.5rem !important;
        height: 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .inputStyle {
        width: 1rem !important;
        height: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 440px) {
    .inputStyle {
        width: 0.7rem !important;
        height: 1rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 420px) {

    .logIn-content__paragraph,
    .logIn-content__link {
        font-size: 12px;
    }

    .content-info__input {
        font-size: 13px;
    }
}

@media (max-width: 410px) {
    .personalInfo__title {
        font-size: 17px;
    }
}